

body {
    background-image: url("http://wallpaperswa.com/thumbnails/detail/20120806/patterns%20textures%20backgrounds%20gradient%201440x900%20wallpaper_wallpaperswa.com_32.jpg");
}
.side-menu{
background-color: rgba(0, 0, 0, 0);

}



.text-center{
    text-align: center;
    
}

.slider{
        vertical-align: middle;
        display : inline-block;
}

.field{
    vertical-align: middle;
    display : inline-block;
    margin-left: 5px;
    margin-right: 5px
}

.field-value-text{
    width :50px;
    border: solid 2px #f5f5f5;
    border-radius: 5px;
}

.field-value{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom:5px;
}

.field-value-icon{
    height:24px;
    width:24px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
}

.on {
    background-color:#337ab7;
}

.off {
    background-color: #f5f5f5;
    border: 2px solid #337ab7;
}


.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #fff;
  border-color: #8c8c8c;
}
