

body {
    background-image: url("background.jpg");
}


.text-center{
    text-align: center;
}



.field{
    vertical-align: middle;
    display : inline-block;
    margin-left: 5px;
    margin-right: 5px
}

.field > .value-text{
    width :50px;
    border: solid 2px #f5f5f5;
    border-radius: 5px;
}

.field-value{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom:5px;
}

.field-value-icon{
    height:24px;
    width:24px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
}

.on {
    background-color:#337ab7;
}

.off {
    background-color: #f5f5f5;
    border: 2px solid #337ab7;
}


.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #fff;
  border-color: #8c8c8c;
}

.system-content{
    padding-top:60px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}


input[type=range]{
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 16px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #337ab7;
    margin-top: 0px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}





.col-xs-auto, .col-xs1-auto, .col-sm-auto, .col-md-auto, .col-lg-auto,
.col-xs-auto-right, .col-xs1-auto-right, .col-sm-auto-right, .col-md-auto-right, .col-lg-auto-right,
.col-middle {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-middle {
  display: table;
}

.col-xs-auto {
  float: left;
}
.col-xs-auto-right {
  float: right;
}

@media (min-width: 480px) {
  .col-xs1-auto {
    float: left;
  }
  .col-xs1-auto-right {
    float: right;
  }
}

@media (min-width: 768px) {
  .col-sm-auto {
    float: left;
  }
  .col-sm-auto-right {
    float: right;
  }
}

@media (min-width: 992px) {
  .col-md-auto {
    float: left;
  }
  .col-md-auto-right {
    float: right;
  }
}

@media (min-width: 1200px) {
  .col-lg-auto {
    float: left;
  }
  .col-lg-auto-right {
    float: right;
  }
}